.Battery {
  position:absolute;
  top:98px;
  right:15px;
  width:19px;
  height:9px;
  border:1px solid white;
  border-radius:1px;
  opacity:.9;
}
.Battery-bar {
  position:absolute;
  left:1px;
  top:1px;
  width:5px;
  height:7px;
  background:#fff;
}
.Battery-bar:nth-child(2) {
  left:7px;
}
.Battery-bar:nth-child(3) {
  left:13px;
}
